/*about star*/
.about{
	width: 100%;
	background-image: url(zhong.jpeg);
	height: 800px;
	background-size: 1600px 800px;
}
.about .content{
	width: 1200px;
}
.about .content .text{
	position: absolute;
	text-align: center;
	color: #fff;
	left: 32%;
	top: 30%;
	line-height: 30px;
	letter-spacing:6px;
}
.about .content .text h2{
	font-family: "华文行楷";
	font-size: 35px;
}
.about .content .text p:nth-child(3){
	letter-spacing: 7.2px;
}
.about .content .text p:nth-child(4){
	letter-spacing: 7px;
}
.about .content .text p:nth-child(5){
	letter-spacing: 7.5px;
}
/*about end*/