*{
	padding: 0;
	margin: 0;
	font-size: 12px;
}
a{
	text-decoration: none;
}
ul{
	list-style-type:none ;
}
ul li{
	float: left;
}
body{
	background-color:#f5f5f5 ;
}
.clearfix{
	content: "";
	display: block;
	clear: both;
}
/*top star*/
.top{
	width: 100%;
	height:27px;
	background: url(../img/top_bg.jpg) repeat-x;
}
.top .top_content{
	width:1000px;
	margin: 0 auto;
}
.top .top_content ul{
	list-style-image: url(../img/li_bg.gif);
}
.top .top_content ul li{
	width:70px;
	float: right;
	
}
.top .top_content ul li a{
	text-decoration: none;
	line-height: 27px;
}
/*top end*/
/*logo star*/
.logo{
	width: 1000px;
	height: 80px;
	margin: 0 auto;
	background-color: #fff;
}
.logo_left{
	float: left;
}
.logo_right{
	float: right;
	margin-top:35px ;
	margin-right:10px ;
	color:#8e8e8e;
}
.logo_right img{
	vertical-align: middle;
}
.logo_right span{
	color: red;
	font-size: 20px;
	font-family: "微软雅黑";
}
/*logo end*/
/*nav菜单栏star*/
nav{
	width: 1000px;
	margin: 0 auto;
	height: 40px;
}
.nav_left,.nav_mid,.nav_right{
	float:left;
	height: 40px;
}
nav .nav_left{
	width:10px;
	background: url("../img/nav_left.jpg") no-repeat;
}
nav .nav_mid{
	width: 980px;
	background: url("../img/nav_bg.jpg") repeat-x;
}
.nav_mid .mid_left{
	width: 720px;
	height: 40px;
	float: left;
}
.nav_mid .mid_left ul{
	margin-left:10px ;
}
.nav_mid .mid_left ul li a:link,.nav_mid .mid_left ul li a:visited{
	line-height: 40px;
	color: #fff;
	font-size: 17px;
	padding:0 20px ;
}
.nav_mid .mid_left ul li a:hover{
	color: red;
}
.mid_right #search{
	width: 180px;
	height: 20px;
	margin-top:9px ;
	background: url("../img/search.jpg") no-repeat right center;
	background-color: #fff;
	border:1px solid #fff;
	padding-right:25px ;
	outline: none;
}
nav .nav_right{
	background: url("../img/nav_right.jpg") no-repeat;
	width:10px;
}
/*nav菜单栏end*/
/*图片轮播效果star*/
.ad{
	width: 1000px;
	height:310px;
	overflow: hidden;
	margin: 0 auto;
}
/*图片轮播效果end*/
/*main信息展示区star*/
.news,.course,.sidebar{
	height: 250px;
	float: left;
	border: 1px solid #E8E8E8;
}
main{
	width: 1000px;
	height: 250px;
	margin: 0 auto;
	margin-top: 5px;
	background-color: #fff;
}
main .news{
	width: 340px;
	margin-right:7px ;
}
main .course{
	width: 410px;
	margin-right:7px ;
}
main .sidebar{
	width: 230px;
}
/*上统一样式*/
main .title{
	height: 35px;
	border-bottom: 2px solid #E8E8E8;
	
}
main .title h2{
	color: #786F66;
	line-height: 35px;
	display: inline-block;
	padding-left:20px ;
}
main .title span a{
	color: #999;
	line-height: 35px;
	float: right;
	padding-right:20px ;
	display: inline-block;
	font-family: "微软雅黑";
}
/*新闻中心star*/
.pic_news{
	margin:10px 5px;
	height: 60px;
}
.pic_news img,.pic_news p,.pic_news h2{
	float: left;
}
.pic_news h2{
	margin-left:5px ;
	color:#C93949;
	font-family: "微软雅黑";
	line-height: 23px;
}
.pic_news img{
	float: left;
}
.pic_news p{
	margin-left:5px ;
	line-height: 23px;
	float: right;
}
.pic_news p span{
	color:#C93949;
}
.news_list ul{
	padding-top:30px ;
	line-height: 20px;
	list-style-image:url("../img/list.jpg") ;
	margin-left:15px ;

}
.news_list ul li{
	line-height: 23px;
	border-bottom: 1px solid #E8E8E8;
	width: 100%;
}
.news_list ul li a{
	color: #000;
}
.news_list ul li span{
	float: right;
	color: #a0a4a0;
	margin-right:5px ;
}
main .course .news_text{
	margin-top: 80px;
	margin-left: 15px;
	height: 21px;
	background-image: url("../img/product_type_bg.jpg");
	background-repeat:no-repeat ;
}
main .course .news_text ul li{
	float: left;
	margin-left:30px;
}
.video img{
	margin-top: 10px;
}
footer{
	background-color: #E8E8E8;
	width: 100%;
	height: 200px;
	margin-top: 10px;
}
footer .footerdl{
	width: 1000px;
	margin: auto;
	text-align: center;
	font-family: "微软雅黑";
	color: #999999;
}
footer .footerdl dl,footer .footerdl img{
	float: left;
}
footer .footerdl dl{
	margin: 20px 61px;
	line-height: 30px;
}
footer .footerdl dl dt{
	font-size: 18px;
}
footer .footerdl dl dd{
	font-size: 15px;
}
footer .footerdl img{
	margin-top: 20px;
}
footer .footerdl dl img{
	margin-top:0 ;
}
/*新闻中心end*/
/*main信息展示区end*/