/*总的css 开始*/
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
.leftarea{
	float: left;
}
.rightarea{
	float: right;
}
.content{
	width: 1000px;
	margin: 0 auto;
}
a{
	text-decoration: none;
}
/*总的css 结束*/
/*header 开始*/
/*topBar 开始*/
header .topBar{
	height: 31px;/
}
.topBar .leftarea a{
	font: bold 12px/31px "宋体";
	color: #000;
}
.topBar .leftarea a i{
	color:#f8b600;
}
.topBar .rightarea{
	font:12px/31px "宋体";
	margin-right: 20px;
}
.topBar .rightarea a{
	font:12px/31px "宋体";
	color: #000;
}
.topBar a:hover{
	color: red;
}
/*topBar 结束*/
/*logoBar 开始*/
header .logoBar{
	background-color: #1d7ad9;
	position: relative;
}
.logoBar .logo{
	margin-left: 25px;
}
.logoBar .searchBar #search_box{
	height:34px;
	width:360px;
	border: none;
	outline: none;
	margin-left: 180px;
	margin-top: -7px;
}
.logoBar .searchBar #search_btn{
	width: 69px;
	height:35px;
	border: none;
	outline: none;
	margin-top: 23px;
	background-color: #ff8c00;
	color: #fff;
}
.logoBar .shopCar{
	position: relative;
	left: -58px;
	top: 30px;
}
.logoBar .shopCar i{
	position: absolute;
	color: #fff;
}
.logoBar .shopCar .shop_btn{
	border-right: 1px solid #e27a00;
	background-color: #ff8800;
	padding:8px 5px 7px 31px;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #fff;
}
.logoBar .shopCar .message{
	border-left: 1px solid #ff9c01;
	background-color: #ff8800;
	padding:8px 31px 7px 5px;
	color: #fff;
	font-size: 14px;
	font-family: "微软雅黑";
}
.logoBar .shopCar .fa-shopping-cart{
	left: 12px;
	top: 3px;
	transform: rotateY(180deg);
}
.logoBar .shopCar .fa-envelope{
	left: 97px;
	top: 2px;
}
.logoBar .shopCar span:hover,.logoBar .searchBar input{
	cursor: pointer;
}
/*logoBar 结束*/
/*navBar 开始*/
header .navBar{
	height: 35px;
	background-color: #1369c0;
}
.navBar ul li{
	float: left;
	width: 100px;
	text-align: center;
}
.navBar ul li:first-child{
	width: 189px;
}
.navBar ul li:hover{
	background-color: #4593fd;
}
.navBar ul li:first-child:hover{
	background-color:#1369c0;
}
.navBar ul li a{
	color: #fff;
	font-size: 14px;
	font-family: "微软雅黑";
	line-height: 35px;
}

/*navBar 结束*/
/*header 结束*/

/*main 开始*/
main{
	height:325px;
}
/*menuBar 开始*/
main .menuBar .menu{
	width: 190px;
	height: 325px;
	background-color: #4593fd;
	border-left: 1px solid #4593fd;
}
.menuBar .menu dl{
	height: calc(325px/5);
	border-bottom:1px solid #3487f2 ;
	border-top: 1px soli #5aa1fe;
	position: relative;
	color: #fff;
}
.menuBar .menu dl:hover{
	background-color: #fff;
	color: #000;
}
.menuBar .menu dl:hover a{
	color: #000;
}
.menuBar .menu dl a{
	color: #fff;
	padding:3px 3px;
	border: 1px solid rgba(0,0,0,0);
}
.menuBar .menu dl a:hover{
	background-color: #106ac0;
	border-radius: 10px;
}
.menuBar .menu dl dt a:hover{
	border: 1px solid #73acf4;
}
.menuBar .menu dl i{
	float: right;
	margin-right: 12px;
	margin-top: 5px;
}
.menuBar .menu dl dt{
	font-size: 14px;
	font-family: "微软雅黑";
	text-indent: 10px;
	padding-top: 8px;
	line-height: 26px;
}
.menuBar .menu dl dd{
	font-size: 12px;
	font-family: "宋体";
	text-indent: 10px;
}
.menuBar .menu dl .menu_s1{
	position: absolute;
	top: 0;
	left: 189px;
	width: 570px;
	height: 380px;
	background-color: #fff;
	border: 1px solid #dddddd;
	z-index: 2;
	opacity: 0;
}
.menuBar .menu .dl1:hover .menu_s1{
	opacity: 1;
}
.menuBar .menu dl .menu_s1 dl{
	border: none;
	margin-left:20px ;
	margin-right:20px ;
	border-bottom:1px solid #ddd ;
	margin-bottom: -10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.menuBar .menu dl .menu_s1 dl:first-child{
	height: 50px;
}
.menuBar .menu dl .menu_s1 dl dt{
	color: #4b88da;
	margin-left:0px ;
	float: left;	
}
.menuBar .menu dl .menu_s1 dl dd{
	font-family: "宋体";
	font-size: 12px;
	float: left;
	padding-top: 13px;
	margin-left: -10px;
}
.menuBar .menu dl .menu_s1 .btn1,.menuBar .menu dl .menu_s1 .btn2{
	padding: 10px 20px;
	padding-right: 30px;
	background-color: #2785e6;
	color: #fff;
	font-family: "宋体";
	font-size: 12px;
	margin-left: 10px;
	position: relative;
	top: 25px;
}
.menuBar .menu dl .menu_s1 .btn1{
	margin-left: 20px;
}
.menuBar .menu dl .menu_s1 i{
	position: absolute;
	margin-left: -20px;
	top: 340px;
	color: #fff;
}
/*menuBar 结束*/
/*seaction1 开始*/
.title{
	margin-top: 15px;
	height: 60px;
}
.title img{
	float: left;
}
.title h2{
	float: left;
	margin-left: 14px;
	display: inline-block;
	font-family: "微软雅黑";
	font-size: 24px;
	margin-top: 7px;
}
.title .rightarea a{
	font-size: 12px;
	font-family: "新宋体";
	color: #000;
	margin-bottom: 10px;
}
.title .rightarea{
	margin-top: 30px;
}
/*seaction1 结束*/
/*main 结束*/