/*总的css 开始*/
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
.leftarea{
	float: left;
}
.rightarea{
	float: right;
}
.content{
	width: 1000px;
	margin: 0 auto;
}
a{
	text-decoration: none;
}
/*总的css 结束*/